@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  scroll-behavior: smooth;
  
}

body{
    background: #000;
}

div{
    font-family: 'Raleway', sans-serif;
}

.Hero{
    height: 80vh;
    background-image: url("uploads/Frame\ 518.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

.commandi-bg{
    background-color:#fff8b9 ;
}

.anazik-bg{
    background-color:#FFC0C0 ;
}

.SNTF-bg{
    background-color: #BCC2FF;
}